; �Էֺ�;��ͷ������ע�ͣ�������                     
;																	                    
;																	                    
; �ļ����������ļ����֣�                              
; (1) Project Name,                                   
; (2) Software,                                       
; (3) CFG File,                                       
; �и��ļ���IfUsedΪ1����û�и��ļ�IfUsedΪ0          
[Project]                                             
Project Name = gpio                           
																											
[Lod]                                                 
IfUsed = 1                                            
Lod File =  /cygdrive/e/GPRS/GPRS_C_SDK/hex/gpio/gpio_B1401.lod                                         
																											
[Cfp]                                                 
IfUsed = 0                                            
																											
																											
